# PostgreSQL
DB_NAME=
DB_USER=
DB_PASSWORD=
DB_PORT=

# Frontend
# Port on the host machine that maps to the Nginx container's port 80
FRONTEND_PORT=

# Inter-service URLs
NOTIFICATION_SERVICE_URL=
TICKET_API_URL=

# pgAdmin
PGADMIN_EMAIL=
PGADMIN_PASSWORD=
PGADMIN_PORT=
